

.cb1 {
  background-color: #3f51b5;
}

.cb2 {
  background-color: #2b304b;
}

.cb3 {
  background-color:blue;
}

.cb4 {
  background-color: rgb(133, 156, 231);
}

.cb5 {
  background-color: #eef;
}

.cb6 {
  background-color: #2169ac;
}

.cb6 {
  background-color: #bbdefb;
}

.cr1 {
  background-color: red;
}

.cr2 {
  background-color: #ffcdd2;
}

.cr3 {
  background-color: #fee;
}


.cp1 {
  background-color: #e1bee7;
}

.cg1 {
  background-color: #c8e6c9;
}

.cg2 {
  background-color: #efb;
}

.cg3 {
  background-color: #efe;
}


.cy1 {
  background-color:rgb(255, 196, 0);
}

.cy2 {
  background-color: #ffa;
}
